global:
  scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.

scrape_configs:
  - job_name: "Node Exporter 1"
    scrape_interval: 10s

    static_configs:
      - targets: ["{{ node_exporter_1_ip }}:{{ node_exporter_port }}"]

  - job_name: "Node Exporter 2"
    scrape_interval: 10s

    static_configs:
      - targets: ["{{ node_exporter_2_ip }}:{{ node_exporter_port }}"]
