global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "Node Exporter"
    scrape_interval: 10s
  
    static_configs:
      - targets: ["{{ node_exporter_ip}}:{{ node_exporter_port}}"]
        
